annotated-doc
annotated-types
anyio
click
fastapi
greenlet
h11
httptools
idna
iniconfig
packaging
pluggy
prometheus_client
psycopg2-binary
pydantic
pydantic_core
Pygments
pytest
python-dotenv
PyYAML
sniffio
SQLAlchemy
starlette
typing-inspection
typing_extensions
uvicorn
uvloop
watchfiles
websockets
httpx