name: CI
on: [push, pull_request]
jobs:

  codeql-analysis:
    name: CodeQL Analysis
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
    steps:
      - name: checkout repository
        uses: actions/checkout@v4

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3

      - name: Autobuild
        uses: github/codeql-action/autobuild@v3

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v3
        with:
          category: '/language:python'

  linting:
    name: Code styling & Quality analysis
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install linters
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pylint black bandit

      - name: Check formatting
        run: |
          black --check --diff .

      - name: Run flake8 (PEP8 compilance)
        run: |
          flake8 . --count --max-line-length=100 --statistics
      
      - name: Run pylint (Naming and conventions)
        run: |
          pylint $(git ls-files '*.py') --exit-zero

      - name: Run bandit (Security checks)
        run: |
          bandit -r . -ll

  test:
    runs-on: ubuntu-latest
    needs: [codeql-analysis, linting]
    steps:
      - name: checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest pytest-cov

      - name: Run unit tests
        run: |
          pytest --max-fail=1 --disable-warnings --cov=.
      
      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: ./test